/*
COLORS:

Light green: #7ee56f
Medium green: #5ef57a
Dark green: #2ff485

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: white;
    padding: 30px;

}

.header {
    height: 95vh; 
    /* 95% of the viewport */
    background-image: linear-gradient(to bottom, rgba(126, 80,11, 0.75),
                                                 rgba(46, 83,11, 0.75)), 
                                                   url(../img/13.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

}

.logo {
    height: 35px;


}

.heading-primary {
    color: wheat;
    text-transform: uppercase;

}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px;


}