@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  75% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  75% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 1rem;
  box-sizing: inherit; }

html {
  /* this is a root font size. --> 1rem = 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lobster";
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: white;
  padding: 3rem; }

.heading-primary {
  color: wheat;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* this prevent shaking while animation */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #a52a2a;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(126, 80, 11, 0.75), rgba(46, 83, 11, 0.75));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(46, 83, 11, 0.75); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: brown; }

.paragraph {
  font-size: 1.6rem;
  color: brown; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn {
  /* 
    &::before {
    padding: 1rem;
} */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* (x y shadow color) */ }
    .btn:hover::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: wheat;
    color: #a52a2a; }
    .btn--white::after {
      background-color: wheat; }
  .btn::after {
    /* sudo element, treated like a child */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    /* position behind the button */
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: rgba(46, 83, 11, 0.75);
  display: inline-block;
  text-decoration: none;
  border-button: 1px solid #a52a2a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: rgba(46, 83, 11, 0.75);
  color: #f2f3e6;
  box-shadow: 0 1rem 2rem rgba(126, 80, 11, 0.75);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(126, 80, 11, 0.75);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-animation: 150rem; }
  .card__side {
    background-color: orangered;
    color: #a52a2a;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s; }
  .card:hover .card__side {
    transform: rotateY(180deg); }

.composition {
  position: relative; }
  .composition__photo {
    width: 75%;
    box-shadow: 0 1.5rem 4rem rgba(126, 80, 11, 0.45);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all .25s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: -20%;
      top: 1rem; }
    .composition__photo--p3 {
      left: -20%;
      top: 27rem; }
    .composition__photo:hover {
      outline: 1.25rem solid rgba(126, 80, 11, 0.75);
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(126, 80, 11, 0.55);
      z-index: 20; }
  .composition::hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(242, 243, 230, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(126, 80, 11, 0.45);
  transition: transform .3s; }
  .feature-box__icon {
    color: rgba(46, 83, 11, 0.75);
    font-size: 6rem;
    margin-bottom: 2rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(126, 80, 11, 0.75), rgba(46, 83, 11, 0.75));
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__text {
    color: rgba(46, 83, 11, 0.75); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 10rem; }
  .row .col-1-of-2 {
    width: calc((100% - 10rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 10rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 10rem) / 3) + 10rem); }
  .row .col-1-of-1 {
    width: 100%;
    margin-bottom: 1rem; }

.header {
  height: 95vh;
  /* 95% of the viewport */
  background-image: linear-gradient(to bottom, rgba(126, 80, 11, 0.75), rgba(46, 83, 11, 0.75)), url(../img/13.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f2f3e6;
  padding: 25rem 0;
  margin-top: 5vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom, rgba(126, 80, 11, 0.75), rgba(46, 83, 11, 0.75)), url(../img/17.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -15rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f2f3e6;
  padding: 35rem 0 50rem 0;
  margin-top: -15vh; }
