$color-brown: #a52a2a;
$color-green-1:#f2f3e6;
$color-primary-light: rgba(126, 80,11, 0.75);
$color-primary-dark:  rgba(46, 83,11, 0.75);

$color-secondary-pl: #43304c; 
$color-secondary-balance: #6b8175;
$color-secondary-greenlight: #c7d3af;
$color-secondary-palepink: #e1b998;
$color-secondary-greengrass: #91a250;


//fonts

$default-font-size: 1.6rem;

                                                

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 10rem;


