.footer {
    background-color: $color-secondary-pl;
    padding: 3rem 0;
    font-size: 1.6rem;


    @include respond(tab-port) {
        padding: 8rem 0;
    }

   

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
        
        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 6rem;
        }
      

    }

    &__logo {
        width: 25rem;
        height: auto;
      
    }

    &__navigation {
        border-top: 1px solid $color-secondary-greengrass;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }

    }

    &__list {
        list-style: none;

    }

    &__item {
        display: inline-block;

        &:not(::last-child) {
            margin-right: 1.5rem;
        }

    }

    &__link {
        &:link,
        &:visited {
            color: $color-green-1;
            background-color: $color-secondary-pl;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;


        }

        &:hover,
        &:active {
            color: $color-secondary-greengrass;
            box-shadow: 0 0.5rem 1rem rgba(black, .25);
            transform: rotate(3deg) scale(1.15);


        }

    }

    &__copyright {
        border-top: 1px solid $color-secondary-greengrass;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
      
    }

}