.header {
    height: 90vh; 
    
    /* 95% of the viewport */
    background-image: linear-gradient(to bottom, rgba(126, 80,11, 0.75),
                                                 rgba(46, 83,11, 0.75)), 
                                                 url(../img/11.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    overflow: hidden;
    backface-visibility: hidden;
    padding: 0rem;

    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 100% 100%, 0% 100%);
     clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 100% 100%, 0% 100%);
    


    //changing the pixel  ratio (DPR) change the image that would be loaded in header

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 100% 100%, 0% 100%);
            height: 95vh; 
    }

    @media (min-resolution: 192dpi)  and (min-width: 37.5em), 
                    (-webkit-min-device-pixel-ratio: 2)  and (min-width: 37.5em) {
        background-image: linear-gradient(
                                                to bottom, rgba(126, 80,11, 0.75),
                                                rgba(46, 83,11, 0.75)), 
                                                url(../img/13.jpg);
    }

    @media  (min-width: 125em) and (-webkit-min-device-pixel-ratio: 3) {
        background-image: linear-gradient(
                                                to bottom, rgba(126, 80,11, 0.75),
                                                rgba(46, 83,11, 0.75)), 
                                                url(../img/3.jpg);
    }

    //Nesting:

    @include respond (phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);    
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        overflow: hidden;
        backface-visibility: hidden;
    }

    &__logo {
        //height: 5rem;
        width: 25rem;
        height: auto;
        filter: opacity(75%);
    
    
    }
    
    &__text-box {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
                
    }

}