.bg-video{
    position: absolute;
    padding: 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .25;
    overflow: hidden;
    backface-visibility: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        backface-visibility: hidden;
        padding: 0rem;
    }
}