
.btn {
    &,
    &:link,
    &:visited {

        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

        //Change for the <button> element 
        border: none;
        cursor:pointer;

}

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
        
        &::after {
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    
    /* (x y shadow color) */
}

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}

    &--white {
        background-color: $color-green-1;
        color: $color-brown;

        &::after {
            background-color: $color-green-1;
        }
}
/* 
    &::before {
    padding: 1rem;
} */

    &--green {
        background-color: $color-secondary-pl;
        color: $color-green-1;

        &::after {
            background-color: $color-secondary-pl;
        }
}

    &::after {
    /* sudo element, treated like a child */
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        /* position behind the button */
        z-index: -1;
        transition: all .4s;
}


    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        //font-family: !important;
        font-size: $default-font-size;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom-color: 1px solid $color-brown;
        padding: 3px;
        transition: all .2s;     
        
    }

    &:hover {
        background-color: $color-primary-dark;
        color: $color-green-1;
        box-shadow: 0 1rem 2rem rgba($color-primary-light, .75);
        transform: translateY(-2px);


    }
    
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-primary-light, .75);
        transform: translateY(0);

    }
}