.card {
    //Add the perspective property
    perspective: 150rem;
    -moz-animation: 150rem;
    position: relative;
    
    &__side {
        background-color: orangered;
        color: $color-brown;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s;
        position: absolute;
        top: 0;
        left: 0;
    

        &--font {
            background-color: orangered;

        }

        &--back {
            background-color: orange;
            transform: rotateY(180deg);

            
        }

    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}

//card:hover (when the card hovered) then --> .card__side { (will be transformed)