.composition {
    position: relative;

    &__photo {
        width: 75%;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-light, .45);
        border-radius: 0.2rem;
        position: absolute;
        z-index: 10;
        transition: all .25s;
        outline-offset: 1rem;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.3333%;
            box-shadow: 0 1.5rem 3rem rgba($color-secondary-pl, .25)
        }


        &--p1 {
            left: 0;
            top: -2rem;

            @include respond(tab-port) {
                top: 0;
                transform: scale(1.6);
            }
        }

        &--p2 {
            right: -20%;
            top: 1rem;

            @include respond(tab-port) {
                top: -1rem;
                transform: scale(1.8);
               
            }
        }

        &--p3 {
            left: -20%;
            top: 27rem;

            @include respond(tab-port) {
                top: 1rem;
                left: 0;
                transform: scale(2);
                z-index: 100;
            }
        }

        &:hover {
            outline: 1.25rem solid $color-primary-light;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-primary-light, .55);
            z-index: 20;

        }
    }

    // composition:hover &__photo:not(:hover) - composition and then hover the photo that is not hovered
    &::hover &__photo:not(:hover) {
        transform: scale(.95);

    }

}
