.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-secondary-pl, .1);
    background-color: $color-green-1;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        background-color: black;
        
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        transform: translateX(-3rem) skewX(12deg);

        position: relative;

    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;

        transform: translate(-10%, -10%);
        //position: static;
    

    }

    &__text {
        transform: skewX(12deg);

    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: $color-green-1;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;

    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}